RewriteEngine On
RewriteBase /beepoly/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^home$ controller/Controller.php?page=home [L]
RewriteRule ^blog$ controller/Controller.php?page=blog [L]
RewriteRule ^signin$ controller/Controller.php?page=signin [L]
RewriteRule ^siginnup$ controller/Controller.php?page=signup [L]
RewriteRule ^post$ controller/Controller.php?page=post [L]
RewriteRule ^post/(.*)$ controller/Controller.php?page=post&id=$1 [L]