body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #092856;
    margin-top: 50px;
    color:white;
    text-align: center;
    padding: 3em 0;
}

.containerr {
    max-width: 1300px; /* Tăng kích thước container */
    margin: 20px auto;
   
  

    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); /* Tăng độ đậm của shadow */
    border-radius: 12px; /* Tăng độ cong của góc */
}

h1 {
    color: #fff;
}



p {
    line-height: 1.6;
}

.topics {
    list-style: none;
    padding: 0;
    margin: 0;
}

.topics li {
    margin-bottom: 10px;
}

.community {
    background-color: #ecf0f1;
    padding: 15px;
    border-radius: 12px;
    margin-top: 20px;
}


.community img {
    max-width: 100%;
    width: 100%; /* Đảm bảo ảnh không vượt ra khỏi container */
    height: auto; /* Giữ tỷ lệ khung hình */
    border-radius: 12px;
    margin-top: 15px;
}

/* Thêm điều chỉnh cho nội dung để giữ cho nó không vượt ra khỏi container */
.community {
    box-sizing: border-box;
}
.community:hover {
    background-color: #d2d7db;
}

/* Đảm bảo rằng nội dung không vượt ra khỏi container */
.containerr section {
    max-width: 100%; /* Sử dụng toàn bộ chiều rộng của container */
    box-sizing: border-box;
}


.thank-you {
    margin-top: 20px; /* Thêm khoảng cách từ nội dung cuối cùng đến cuối container */
}
.blog-name{
    color: rgb(79, 79, 241);
}