/* CSS cho phần bài viết gần đây */
.menu-body {
    display: flex;
    justify-content: center; /* Căn giữa các mục theo chiều ngang */
    margin-top: 100px;
}
.menu-body a.active {
    background-color: #b4b3b3; /* Màu nền khi active */
    color: #fff; /* Màu chữ khi active */
}



.menu-body a {
    text-decoration: none;
    color: #333;
    margin: 0 15px; /* Khoảng cách giữa các mục */
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.1s ease-in-out;
    background-color: #fff; /* Màu nền mặc định */
}

.menu-body a:hover {
    background-color: #b4b3b3; /* Màu nền khi hover */
}


.recent_posts1 {
    padding: 50px 0;
    margin-left: 100px;
    margin-right: 100px;
}

.heading1 h3 {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}

.recent_posts_container1 {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
<<<<<<< HEAD
=======
.dm{
    color: #2DA5FB;
    margin-left: 10px;
}



.like1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #000;
    margin-bottom: 10px;
}

.date {
    font-size: 10px;
    font-weight: 600;
    line-height: 1;
    color: #000;
    margin-left: 320px;
}


>>>>>>> bad86c1eafb0ff45ec893e8a75c7b071786d9bcc

.recent_posts_container1 a {
    text-decoration: none;
    color: #000;
    width: calc(33.333% - 20px); /* Đảm bảo 3 cột trên mỗi hàng */
    transition: transform 0.3s ease-in-out;
}

.recent_posts_container1 a:hover {
    transform: scale(1.05);
}

.post_item1 {
    border: 1px solid #e5e5e5;
    border-radius: 8px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: box-shadow 0.3s ease-in-out;
}

.post_item1:hover {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.img1 img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  
}



.heading1 {
    padding: 15px;
}

.title_post {
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 10px;
}

.des1 {
    margin-bottom: 10px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Số dòng muốn hiển thị trước khi ngắt */
    -webkit-box-orient: vertical;
}

.like1 {
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #000;
    margin-bottom: 10px;
}

.more1 {
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 10px 0;
}

.btn_see_more1 a {
    padding: 18px 32px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    background-color: #2DA5FB;
    transition: background-color 0.3s ease-in-out;
}

.btn_see_more1 a:hover {
    background-color: #1c7ed6;
}

/* Responsive cho màn hình nhỏ */
@media only screen and (max-width: 640px) {
    .recent_posts_container1 a {
        width: calc(50% - 20px); /* Hiển thị 2 cột trên mỗi hàng */
    }
}
