* {
    box-sizing: 0px;
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Arial', sans-serif;
}

.form_signup {
    display: flex;
}
.form_signup svg {
    width: 20px;
    height: 18px;
    flex-shrink: 0;
    margin-left: 5px;
}


.form_signup .label{
    text-align: left;
}

.form_signup form {
    width: 366px;
   
    flex-shrink: 0;
    margin: 0 auto;
}

.form_signup .pass {
    position: relative;
}

.form_signup .pass svg {
    position: absolute;
    right: 10px;
    top: 15px;
}

.form_signup form h2 {
    margin-top: 10px;
    width: 320px;
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 143.4%;
    /* 34.416px */
}

.form_signup form h1 {
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: 143.4%;
    /* 40.152px */
}

.form_signup form p {
    margin-top: 10px;
    color: #000;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 143.4%;
    /* 22.944px */
}

.quenpass {
    display: flex;
    width: 130px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
    padding: 10px;
    width: 100%;
    align-items: flex-end;
    color: #2DA5FB;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 143.4%;
}

.form_signup input {
    padding-left: 5px;
    color: #0a0a0a;
    font-family: 'Arial', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 143.4%;
    border-radius: 8px;
    background: #092856;
    border: none;
    width: 366px;
    width: 366px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;

    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.05);
}

.form_signup form a {
    text-decoration: none;
    display: flex;
    width: 130px;
    height: 18px;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}


.form_signup button {
    display: flex;
    width: 366px;
    padding: 13px 137px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 8px;
    background: #092856;
    color: #FFF;

    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 143.4%;

}

.form_signup .name {
    margin-top: 50px;
    color: #000;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 143.4%;

}

.form_signup .dangnhap {
    color: #2DA5FB;
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    font-style: normal;
    line-height: 143.4%;
 
}

.form_signup .dangnhap1 {
    justify-content: center;
    display: flex;
    padding: 10px;
}


