.container .homepage{
    max-width: 1300px;
    margin: 0 auto;
    margin-top: 86px;
}

.container .homepage .popular .popular_container{
    width: 100%;
    position: relative;
    display: flex;
    border-radius: 24px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    height: 85vh;
}
.container .homepage .popular .popular_container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .homepage .popular .popular_container .heading{
    position: absolute;
    padding: 0 2.5%;
    width: 100%;
    background-image: linear-gradient(0deg,rgba(0,0,0,.5) 1%,rgba(0,0,0,.0001) 25%);
    height: 100%;
    bottom: 0;
}
.container .homepage .popular .popular_container .heading a{
    text-decoration: none;
    color: #fff;
    width: 100%;
    display: flex;
    padding-bottom: 30px;
    align-items: flex-end;
    height: 100%;
   
}
.container .homepage .popular .popular_container .heading a .text span.label{
    font-size: 16px;
    font-weight: 700;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 10px;
    display: block;
    color: #fff;
    opacity: .9;
}
.container .homepage .popular .popular_container .heading a .text h2{
    font-size: 36px;
    margin-bottom: 10px;
    font-weight: 700;
    line-height: 1.2;
}
.container .homepage .popular .popular_container .heading a .icon_link{
    padding-right: 5%;
}
.container .homepage .popular .popular_container .heading a .icon_link svg{
    width: 50px;
    
}

.container .homepage .recent_posts{
    padding: 50px 0;
    
}
.container .homepage .recent_posts .heading h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
}
.container .homepage .recent_posts .recent_posts_container{
    display: grid;
    gap: 20px;
    padding: 20px 20px;
    grid-template-columns: repeat(3, 1fr);
}
.container .homepage .recent_posts .recent_posts_container a{
    text-decoration: none;
    color: #000;
}
.container .homepage .recent_posts .recent_posts_container a .post_item .img{
    width: 100%;
    height: 220px;
    overflow: hidden;
    border-radius: 24px;
    margin-bottom: 20px;
}
.container .homepage .recent_posts .recent_posts_container a .post_item .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container .homepage .recent_posts .recent_posts_container a .post_item .heading{
    /* border: 1px solid #e5e5e5; */
    padding: 0 5px;
}
.container .homepage .recent_posts .recent_posts_container a .post_item .heading .title_post{
    font-size: 18px;
    font-weight: 700;
    line-height: 1.2;
    display: block;
    color: #333;
}
.container .homepage .recent_posts .recent_posts_container a .post_item .heading .more{
    display: flex;
    align-items: center;
    gap: 24px;
    padding: 10px 0;
}
.container .homepage .recent_posts .recent_posts_container a .post_item .heading .more .author_img{
    display: flex;
    align-items: center;
    gap: 10px;
}
.container .homepage .recent_posts .recent_posts_container a .post_item .heading .more .author_img img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}
.container .homepage .recent_posts .recent_posts_container a .post_item .heading .more .author_img .name_author{
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #000;

}
.container .homepage .recent_posts .recent_posts_container a .post_item .heading .more .like{
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #000;
}
.container .homepage .recent_posts .btn_see_more{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.container .homepage .recent_posts .btn_see_more a{
    padding: 18px 32px;
    color: #fff;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
    font-size: 14px;
    line-height: 1;
    background-color: #2DA5FB;
}



/* responssive for mobile */
@media only screen and (max-width: 640px){
    .container .homepage{
        padding: 0 5%;
    }
    .container .homepage .popular .popular_container{
        height: 300px;
    }
    .container .homepage .popular .popular_container .heading a .text span.label{
        font-size: 12px;
    }
    .container .homepage .popular .popular_container .heading a .text h2{
        font-size: 20px;
        line-height: 1.2;
    }
    .container .homepage .popular .popular_container .heading a .text p{
        display: none;
    }
    .container .homepage .popular .popular_container .heading a .icon_link svg{
        width: 30px;
    }
    .container .homepage .popular .popular_container .heading{
        padding: 0 4%;
    }
    .container .homepage .recent_posts .recent_posts_container{
        grid-template-columns: repeat(1, 1fr);
        padding: 20px 0;
    }
    
}