<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" href="home.css">
</head>
<body>
    <div class="container">
      
       

        <div class="homepage">
         


            <div class="recent_posts">
                <div class="heading">
                    <h3>Bài viết gần đây</h3>
                </div>
                <div class="recent_posts_container">
                    <a href="#">
                        <div class="post_item">
                            <div class="img">
                                <img src="./images/post1.jpg" alt="">
                            </div>
                            <div class="heading">
                                <h4 class="title_post">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid, quis!</h4>
                                <div class="more">
                                    <div class="author_img">
                                        <img src="./images/users/letanvu.jpg" alt="">
                                        <div class="name_author">Pham Van Hoang</div>
                                    </div>
                                    
                                    <div class="like">33 lượt thích</div>
                                </div>
                            </div>
                        </div>
                    </a>
                    </div>
                    </div>
                    

        <footer>
            <div class="footer_container">
                <div class="email">
                    <div class="heading">
                        <span>Bạn muốn không bỏ lỡ các bài viết quan trọng? Để lại email, chúng tôi sẽ thông báo khi có bài viết mới.</span>
                    </div>
                    <div class="form">
                        <form action="" method="post">
                            <div class="form_container">
                                <input type="text" name="email" placeholder="Nhập email của bạn">
                                <input type="submit" value="Đăng ký">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="footer_link">

                </div>
                <div class="copyright">
                    <span>© 2023 BeePoly. Đã đăng ký bản quyền.</span>
                </div>
                
            </div>
        </footer>
    </div>
    <script src="index.js"></script>
</body>
</html>